<h1 class="question_answer_title">Question</h1>
<text class="question_body"> <%=@question.body%></text>

<% if logged_in? && @current_user.id == @answer.user_id %>
  <form method="post" action="/questions/<%=:question_id%>/answers/<%=:id%>/edit">
  <input type="hidden" name="_method" value="put"><br>

    <ul style="list-style-type:none">

      <input type="hidden" name="answer[id]" value=<%=@answer.id %>

      <li> <input type="text" name="answer[body]" value= "<%=@answer.body%>"></li><p>

       <li><input type="submit" value="Edit this Answer"></li>
    </ul>
  </form>
<% end %>
