<h1 class="question_answer_title">Question</h1>
<%=@question.body%>


<h1 class="question_answer_title">Answer</h1>

<h2> <%=@answer.body.capitalize%></h2>

<a href="/questions/<%=@question.id%>/answers/<%=@answer.id%>/edit">Edit This Response</a>




<form method="post" action="/questions/<%=@question.id%>/answers/<%=@answer.id%>">
  <input type="hidden" name="_method" value="delete"><br>
   <input type="submit" value="Delete Answer">

</form>


