<h1 class="question_answer_title">Question:</h1> <p><h1 class="question_body"> <%=@question.title%></h1>
<h2 class="question_body"><%=@question.body%></h2><br>

<h2 class="question_answer_title">Answer</h2>

<h2> <a href="/questions/<%=@question.id%>/answers/<%=@answer.id%>"><%=@answer.body.capitalize%></a></h2>

<a href="/questions/<%=@question.id%>/answers/<%=@answer.id%>/edit">Edit This Response</a>




<form method="post" action="/questions/<%=@question.id%>/answers/<%=@answer.id%>">
  <input type="hidden" name="_method" value="delete"><br>
   <input type="submit" value="Delete Answer">

</form>


