<form class="form" id='up-vote' method="post" action='/questions/<%= question.id %>/_vote'>
  <input type="hidden" name="votes[voteable_type]" value="Question">
  <input type="hidden" name="votes[voteable_id]" value="<%=question.id%>">
  <input type="image" name="up_image" source="#" id='button-up'>
</form>

<%= question.votes[:value] %>

<form class="form" id='down-vote' method="post" action='/questions/<%= question.id %>/_vote'>
  <input type="hidden" name="votes[voteable_type]" value="">
  <input type="hidden" name="votes[voteable_id]" value="<%=question.id%>">
  <input type="image" name="down_image" source="#" id='button-down'>
</form>



